package $packageName;

import com.mis.domain.${modelName};

import org.springframework.data.repository.PagingAndSortingRepository;
import org.springframework.stereotype.Repository;

@Repository
public interface ${modelName}Repository extends PagingAndSortingRepository<${modelName}, Integer> {


}