'use strict';

angular.module('misApp',[]).controller('${modelName}', function($scope, $http) {
	var basicUrl = "http://localhost:8080/admin/${modelName}/";
	$http.get(basicUrl)
	  .success(function (response) {
		  console.log('response:' + response);
		  $scope.list = response.list;
	  });
	$scope.edit = function(type,id) {
		  if (type == 'edit') {
			  $http.get(basicUrl)
			  .success(function (response) {
			    #foreach( $elem in $allElems)
			    	$scope.m$elem.camelName = response.$elem.camelName
				#end
			  });
		    } else {
		    	#foreach( $elem in $allElems)
			    	$scope.m$elem.camelName = "";
				#end
		  }
	};
	
	$scope.add = function() {
		if($scope.mId == '' || angular.isUndefined($scope.mId)){
			// create news
			var data = {};
			#foreach( $elem in $allElems)
		    	data.$elem.camelName = $scope.m$elem.camelName;
			#end
			$http.post(basicUrl,data)
			.success(function (){
				$http.get(basicUrl)
				.success(function (response) {
					$scope.list = response.list;
				});
			});
		}else{
			// update news
			var data = {};
			#foreach( $elem in $allElems)
				#if($elem.camelName.equals("id"))  
			    #else
			    	data.$elem.camelName = $scope.m$elem.camelName;
			    #end  
			#end
			$http.put(basicUrl,data)
			.success(function (){
				$http.get(basicUrl)
				  .success(function (response) {
					  $scope.list = response.list;
				  });
			});
		}
	};
	
	$scope.remove = function(id) {
		$http.delete(basicUrl)
		.success(function (){
			$http.get(basicUrl)
			  .success(function (response) {
				  $scope.list = response.list;
			  });
		});
	};
});


